<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Creator</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.creator.player.name rescue group.creator.email %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_groupscreated_path %>
